{% extends 'base.html' %}

{% block content %}
{# {% for post in posts %}
{% endfor %} #}
<section id="main" class="container">
    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon solid major fa-bolt accent2"></span>
                <h3><a href="{{ url_for('post', pk=posts[0].id) }}">{{ posts[0].title }}</a></h3>
                <p>{{ posts[0].content }}</p>
                <ul class="actions">
                    <li><a href="/posts/{{ posts[0].id }}" class="button alt center">Read More</a></li>
                </ul>
            </section>
            <section>
                <span class="icon solid major fa-chart-area accent3"></span>
                <h3><a href="{{ url_for('post', pk=posts[1].id) }}">{{ posts[1].title }}</a></h3>
                <p>{{ posts[1].content }}</p>
                <ul class="actions">
                    <li><a href="/posts/{{ posts[1].id }}" class="button alt center">Read More</a></li>
                </ul>
            </section>
        </div>
        <div class="features-row">
            <section>
                <span class="icon solid major fa-cloud accent4"></span>
                <h3><a href="{{ url_for('post', pk=posts[2].id) }}">{{ posts[2].title }}</a></h3>
                <p>{{ posts[2].content }}</p>
                <ul class="actions">
                    <li><a href="/posts/{{ posts[2].id }}" class="button alt center">Read More</a></li>
                </ul>
            </section>
            <section>
                <span class="icon solid major fa-lock accent5"></span>
                <h3><a href="{{ url_for('post', pk=posts[3].id) }}">{{ posts[3].title }}</a></h3>
                {% autoescape off %}
                {{ posts[3].content }}
                {% endautoescape %}
                <ul class="actions">
                    <li><a href="/posts/{{ posts[3].id }}" class="button alt center">Read More</a></li>
                </ul>
            </section>
        </div>
    </section>
    <div class="row">
        {% for category in categories %}
        <div class="col-6 col-12-narrower">

            <section class="box special">
                <span class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg') }}"alt=""/></span>
<!--                <h3></h3>-->
                <p>{{ category.name }}</p>
                <ul class="actions special">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </section>

        </div>
        {% endfor %}
        {#<div class="col-6 col-12-narrower">

            <section class="box special">
                <span class="image featured"><img src="{{ url_for('static', filename='images/pic03.jpg') }}"alt=""/></span>
                <h3>Accumsan integer</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum
                    phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions special">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </section>
        </div> #}
    </div>
</section>
{% endblock content %}