{% extends 'base.html' %}

{% block content %}
<section id="main" class="container">
    <header>
        <h2>Generic</h2>
        <p>A generic page for every non-generic situation.</p>
    </header>
    <div class="box">
        <span class="image featured"><img src="{{ post.featured_image_url }}" alt=""/></span>
        <h3>{{ post.title }}</h3>
        {% autoescape off %}
        {{ post.content }}
        {% endautoescape %}
    </div>
    <p class="disabled">{{ post.created_at }}</p>
</section>
{% endblock %}
